--
-- PostgreSQL database dump
--

\restrict vwWBVR1H7ZQGGEt276HXe5keyYroIO0nXOlMOPFtyiQ4RdDvrcc3kub92BE5hN0

-- Dumped from database version 16.14 (7f2ba1b)
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: protect_audit_ledger(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.protect_audit_ledger() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE EXCEPTION 'Security Policy Violation: Financial audit logs are strictly immutable and append-only.';
END;
$$;


ALTER FUNCTION public.protect_audit_ledger() OWNER TO neondb_owner;

--
-- Name: set_quarantine_updated_at(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.set_quarantine_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_quarantine_updated_at() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: deals; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.deals (
    deal_id character varying(255) NOT NULL,
    bucket_url text NOT NULL,
    uploaded_by_user_id character varying(255) DEFAULT 'anonymous'::character varying,
    status character varying(50) DEFAULT 'Processing'::character varying,
    classification_status character varying(100) DEFAULT 'Processing'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.deals OWNER TO neondb_owner;

--
-- Name: document_coordinates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.document_coordinates (
    id bigint NOT NULL,
    col_index integer,
    metric_id bigint NOT NULL,
    page_number integer NOT NULL,
    row_index integer,
    x_max double precision NOT NULL,
    x_min double precision NOT NULL,
    y_max double precision NOT NULL,
    y_min double precision NOT NULL
);


ALTER TABLE public.document_coordinates OWNER TO neondb_owner;

--
-- Name: document_coordinates_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.document_coordinates ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.document_coordinates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document_records; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.document_records (
    id bigint NOT NULL,
    deal_id character varying(255) NOT NULL,
    filename character varying(255) NOT NULL,
    category character varying(100),
    status character varying(50) DEFAULT 'Processing'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    file_path character varying(255),
    page_count integer
);


ALTER TABLE public.document_records OWNER TO neondb_owner;

--
-- Name: document_records_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.document_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_records_id_seq OWNER TO neondb_owner;

--
-- Name: document_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.document_records_id_seq OWNED BY public.document_records.id;


--
-- Name: extracted_metrics; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.extracted_metrics (
    id bigint NOT NULL,
    metric_name character varying(500) NOT NULL,
    raw_value character varying(500) NOT NULL,
    unit character varying(100),
    source_doc_id bigint NOT NULL,
    page_number integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.extracted_metrics OWNER TO neondb_owner;

--
-- Name: extracted_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.extracted_metrics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.extracted_metrics_id_seq OWNER TO neondb_owner;

--
-- Name: extracted_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.extracted_metrics_id_seq OWNED BY public.extracted_metrics.id;


--
-- Name: hitl_audit_ledger; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.hitl_audit_ledger (
    audit_id bigint NOT NULL,
    action_url character varying(500) NOT NULL,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    decision character varying(20) NOT NULL,
    officer_id uuid NOT NULL,
    quarantine_id uuid NOT NULL,
    CONSTRAINT hitl_audit_ledger_decision_check CHECK (((decision)::text = ANY ((ARRAY['Approve'::character varying, 'Reject'::character varying])::text[])))
);


ALTER TABLE public.hitl_audit_ledger OWNER TO neondb_owner;

--
-- Name: hitl_audit_ledger_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.hitl_audit_ledger_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hitl_audit_ledger_audit_id_seq OWNER TO neondb_owner;

--
-- Name: hitl_audit_ledger_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.hitl_audit_ledger_audit_id_seq OWNED BY public.hitl_audit_ledger.audit_id;


--
-- Name: metric_audit_log; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.metric_audit_log (
    audit_id bigint NOT NULL,
    metric_id character varying(255) NOT NULL,
    original_value character varying(255) NOT NULL,
    new_value character varying(255) NOT NULL,
    modified_by_user_id character varying(255) NOT NULL,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.metric_audit_log OWNER TO neondb_owner;

--
-- Name: metric_audit_log_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.metric_audit_log_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.metric_audit_log_audit_id_seq OWNER TO neondb_owner;

--
-- Name: metric_audit_log_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.metric_audit_log_audit_id_seq OWNED BY public.metric_audit_log.audit_id;


--
-- Name: quarantine; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.quarantine (
    quarantine_id uuid DEFAULT gen_random_uuid() NOT NULL,
    endpoint character varying(500) NOT NULL,
    payload jsonb NOT NULL,
    agent_id character varying(255),
    status character varying(50) DEFAULT 'Pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.quarantine OWNER TO neondb_owner;

--
-- Name: quarantine_quarantine_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.quarantine_quarantine_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quarantine_quarantine_id_seq OWNER TO neondb_owner;

--
-- Name: document_records id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_records ALTER COLUMN id SET DEFAULT nextval('public.document_records_id_seq'::regclass);


--
-- Name: extracted_metrics id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.extracted_metrics ALTER COLUMN id SET DEFAULT nextval('public.extracted_metrics_id_seq'::regclass);


--
-- Name: hitl_audit_ledger audit_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.hitl_audit_ledger ALTER COLUMN audit_id SET DEFAULT nextval('public.hitl_audit_ledger_audit_id_seq'::regclass);


--
-- Name: metric_audit_log audit_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.metric_audit_log ALTER COLUMN audit_id SET DEFAULT nextval('public.metric_audit_log_audit_id_seq'::regclass);


--
-- Data for Name: deals; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: document_coordinates; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.document_coordinates (id, col_index, metric_id, page_number, row_index, x_max, x_min, y_max, y_min) FROM stdin;
\.


--
-- Data for Name: document_records; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: extracted_metrics; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: hitl_audit_ledger; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: metric_audit_log; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.metric_audit_log (audit_id, metric_id, original_value, new_value, modified_by_user_id, "timestamp") FROM stdin;
\.


--
-- Data for Name: quarantine; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.quarantine (quarantine_id, endpoint, payload, agent_id, status, created_at, updated_at) FROM stdin;
d5924155-d7fb-465e-bdd5-27719dabe37c	/api/credit/transfer	{"amount": 999999, "borrower": "Suspicious LLC"}	agent-demo-2	Discarded	2026-07-06 07:50:12.621698+00	2026-07-06 07:50:13.211898+00
20235a6e-54cb-4277-af1d-1cd6f5c3cad4	/api/credit/approve	{"amount": 75000, "borrower": "Acme Capital"}	agent-demo-1	Discarded	2026-07-06 07:48:26.188212+00	2026-07-06 07:52:22.86176+00
\.


--
-- Name: document_coordinates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.document_coordinates_id_seq', 1, false);


--
-- Name: document_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.document_records_id_seq', 25, true);


--
-- Name: extracted_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.extracted_metrics_id_seq', 161, true);


--
-- Name: hitl_audit_ledger_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.hitl_audit_ledger_audit_id_seq', 4, true);


--
-- Name: metric_audit_log_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.metric_audit_log_audit_id_seq', 1, false);


--
-- Name: quarantine_quarantine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.quarantine_quarantine_id_seq', 1, false);


--
-- Name: deals deals_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT deals_pkey PRIMARY KEY (deal_id);


--
-- Name: document_coordinates document_coordinates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_coordinates
    ADD CONSTRAINT document_coordinates_pkey PRIMARY KEY (id);


--
-- Name: document_records document_records_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_records
    ADD CONSTRAINT document_records_pkey PRIMARY KEY (id);


--
-- Name: extracted_metrics extracted_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.extracted_metrics
    ADD CONSTRAINT extracted_metrics_pkey PRIMARY KEY (id);


--
-- Name: hitl_audit_ledger hitl_audit_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.hitl_audit_ledger
    ADD CONSTRAINT hitl_audit_ledger_pkey PRIMARY KEY (audit_id);


--
-- Name: metric_audit_log metric_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.metric_audit_log
    ADD CONSTRAINT metric_audit_log_pkey PRIMARY KEY (audit_id);


--
-- Name: quarantine quarantine_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.quarantine
    ADD CONSTRAINT quarantine_pkey PRIMARY KEY (quarantine_id);


--
-- Name: metric_audit_log block_deletes_on_audit_log; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER block_deletes_on_audit_log BEFORE DELETE ON public.metric_audit_log FOR EACH ROW EXECUTE FUNCTION public.protect_audit_ledger();


--
-- Name: hitl_audit_ledger block_deletes_on_hitl_audit_ledger; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER block_deletes_on_hitl_audit_ledger BEFORE DELETE ON public.hitl_audit_ledger FOR EACH ROW EXECUTE FUNCTION public.protect_audit_ledger();


--
-- Name: metric_audit_log block_updates_on_audit_log; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER block_updates_on_audit_log BEFORE UPDATE ON public.metric_audit_log FOR EACH ROW EXECUTE FUNCTION public.protect_audit_ledger();


--
-- Name: hitl_audit_ledger block_updates_on_hitl_audit_ledger; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER block_updates_on_hitl_audit_ledger BEFORE UPDATE ON public.hitl_audit_ledger FOR EACH ROW EXECUTE FUNCTION public.protect_audit_ledger();


--
-- Name: quarantine trg_quarantine_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trg_quarantine_updated_at BEFORE UPDATE ON public.quarantine FOR EACH ROW EXECUTE FUNCTION public.set_quarantine_updated_at();


--
-- Name: extracted_metrics extracted_metrics_source_doc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.extracted_metrics
    ADD CONSTRAINT extracted_metrics_source_doc_id_fkey FOREIGN KEY (source_doc_id) REFERENCES public.document_records(id) ON DELETE CASCADE;


--
-- Name: document_records fk_deal; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.document_records
    ADD CONSTRAINT fk_deal FOREIGN KEY (deal_id) REFERENCES public.deals(deal_id) ON DELETE CASCADE;


--
-- Name: hitl_audit_ledger hitl_audit_ledger_quarantine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.hitl_audit_ledger
    ADD CONSTRAINT hitl_audit_ledger_quarantine_id_fkey FOREIGN KEY (quarantine_id) REFERENCES public.quarantine(quarantine_id) ON DELETE RESTRICT;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict vwWBVR1H7ZQGGEt276HXe5keyYroIO0nXOlMOPFtyiQ4RdDvrcc3kub92BE5hN0

